.card {
    display: inline-block;
    position: relative;
    box-sizing: content-box;
    width: 98px;
    height: 139px;
    border: 1px solid;
    border-radius: 8px;
    background-color: transparent;
    
    overflow-x: hidden; /*for flip animation*/
}

.card .surface {
    position: relative;
    width: 98px;
    height: 139px;
    border-width: 0;
    border-radius: 8px;
    background-color: rgb(208, 208, 208);
}

.card .surface .main-container {
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;    
    text-align: center;
    padding-top: +15px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.card .surface .sub-container {
    position: absolute; 
    bottom: 0;
    width: 98px;
    height: 32px;
    border-width: 0;
    border-top: 1px solid black; 
    border-radius: 0 0 8px 8px; 
    padding-top: 2px;
    background-color: white; 
    font-family: serif;
    font-size: 11px;
    text-align: center;
}

.card .backface {
    position: absolute;
    left: 0;
    top: 0;
    width: 98px;
    height: 139px;
    border-width: 0;
    border-radius: 8px;
    background-color: rgb(25, 0, 51);
}

.card {
    border-color: black;
}

.card.reversed {
    border-color: white;
}
.card .backface,
.card.reversed .surface {
    visibility: hidden;
}

.card .surface,
.card.reversed .backface {
    visibility: visible;
}

.card.placeholder {
    box-sizing: content-box;
    width: 98px;
    height: 139px;
    border-width: 1px;
    border-style: dotted;
    border-color: gray;
    background-color: transparent;
    color: gray;
}

.card.placeholder .placeholder-text
{
    display: block;
    position: relative;
    top: 50%;
    margin-top: -1em;
    text-align: center;
}

.mat {
    display: block;
    position: relative;
    background-color: white;
    border: 0 none;
}

.revolution-container
{
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width:0; height:0;
    /*
    border: 2px solid red;
    border-radius: 2px;
    */
    margin: 0;
    padding: 0;
}

.unselectable {
    -webkit-user-select: none;
}


/**** css animations ****/
.revolution-container {
    transform-origin center center;
    -webkit-transform-origin center center;
    -moz-transform-origin center center;
    -o-transform-origin center center;
    -ms-transform-origin center center;
}

.revolution-container.animating {
    -webkit-animation-name: revolution;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-play-state: running;
    
    -moz-animation-name: revolution;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-play-state: running;
}

.revolution-container.animating.paused {
    -webkit-animation-play-state: paused;
    
    -moz-animation-play-state: paused;
}


@keyframes revolution {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }

}

@-webkit-keyframes revolution {
        0% {
            -webkit-transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
}

.card.flipping-before
{
    animation-name: card-flipping-before;
    -webkit-animation-name: card-flipping-before;
}

.card.flipping-after
{
    animation-name: card-flipping-after;
    -webkit-animation-name: card-flipping-after;
}

.card.flipping-before,
.card.flipping-after
{
    animation-duration: 150ms;
    -webkit-animation-duration: 150ms;
}

@-webkit-keyframes card-flipping-before {
        0% {
            -webkit-transform: translateY(0) rotateY(0deg);
        }
        100% {
            -webkit-transform: translateY(-18px) rotateY(-90deg);
        }
}

@keyframes card-flipping-before {
        0% {
            transform: translateY(0) rotateY(0deg);
        }
        100% {
            transform: translateY(-18px) rotateY(-90deg);
        }
}

@-webkit-keyframes card-flipping-after {
        0% {
            -webkit-transform: translateY(-18px) rotateY(90deg);
        }
        100% {
            -webkit-transform: translateY(0) rotateY(0deg);
        }
}

@keyframes card-flipping-after {
        0% {
            transform: translateY(-18px) rotateY(90deg);
        }
        100% {
            transform: translateY(0) rotateY(0deg);
        }
}
